*.a
*.cache
*.la
*.lai
*.lo
*.log
*.o
*.pc
*.plist
*.pyc
*.so
*.so.*
*.status
*.tar.gz
*.trs
*_test
*~
.*.sw?
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/columnfile-cat
/columnfile-sort
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/ylwrap
stamp-h[0-9]*
